{%extends "base.html" %}
{%block content%}
<div class="container body">
    <div class="card text-center">
      <div class="card-header">
        Image Steganography
      </div>
      <div class="card-body">
        <h5 class="card-title">Encode/Decode your Image!!</h5>
        <h1 class="card-text">Hide Crucial Information Behind Image</h1>
        <a href="/encode" class="btn btn-primary btn-lg">Encode</a>
          <a href="/decode" class="btn btn-primary btn-lg">Decode</a>
      </div>
    </div>
</div>

{% endblock %}
